:root {
    --primary-color: #FF0002;
    --background-color: white;
    --background-variant-color: #FBFBFB;
    --alternative-background-color: #020203;
    --on-background-color: black;
    --on-alternative-background-color: white;
    --gray-color: #74798C;
}
