#average-session {
    grid-row: 3 / 5;
    background: var(--primary-color);
    color: white;
    overflow: hidden;
    position: relative;

    h2 {
        font-weight: 500;
        position: absolute;
        top: 20px;
        left: 20px;
        width: 50%;
    }
}
